body {
  background: url(../img/foundation.gif) repeat;
  font-size:;
  line-height:24px;
}

p.bigger {
  font-size: 18px;
  line-height: 26px;
}

h2, h3, h4 {
  font-weight: 300;
}

hr {
  border-top: 1px solid gray
}

.navbar .brand {
  max-height:100%;
  padding:5px 20px 5px;
}

/* ------------- LAYOUT ------------- */
.container-narrow {
  margin: 0 auto;
  padding:0;
  max-width:800px;
}

.silo {
  padding: 20px;
  margin: 0;
  margin-bottom: 20px;
  background-color: rgba(250,250,250,0.5);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.silo-first {
  padding-top: 50px;
}

.silo-last {
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px;
  border-radius: 10px 10px 0 0;
}

/* TYPOGRAPHY */

.editable {
  display: inline;
}

form.add input {
  width:auto;
}

.form-fullpage {
  text-align:left;
}
/*
.form-fullpage .control-label {
  width:100px;
}

.form-fullpage .controls {
  margin-left: 120px;
}*/

img#mainlogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
  height: 60px;

  padding:20px 20px 0;
}
#footer .container-narrow{
/*  height: 60px;
  background-color: rgba(255,255,255,0.5);
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px;
  border-radius: 10px 10px 0 0;
*/}

#footer .container-inner {
  padding:20px 20px 0;

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}



/* TABLES */
@media only screen and (max-width: 800px) {
  
  /* Force table to not be like tables anymore */
  #no-more-tables table, 
  #no-more-tables thead, 
  #no-more-tables tbody, 
  #no-more-tables th, 
  #no-more-tables td, 
  #no-more-tables tr { 
    display: block; 
  }
 
  /* Hide table headers (but not display: none;, for accessibility) */
  #no-more-tables thead tr { 
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
 
  #no-more-tables tr { border: 1px solid #ccc; }
 
  #no-more-tables td { 
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee; 
    position: relative;
    padding-left: 50%; 
    white-space: normal;
    text-align:left;
  }
 
  #no-more-tables td:before { 
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%; 
    padding-right: 10px; 
    white-space: nowrap;
    text-align:left;
    font-weight: bold;
  }
 
  /*
  Label the data
  */
  #no-more-tables td:before { content: attr(data-title); }
}
