{% macro render_field(field) %}
<div class="control-group {% if field.errors %}error{% endif %}">
    {{field.label(class_="control-label")}}
    <div class="controls">{{field(placeholder=field.label.text)}}
    {% if field.errors %}
      <span class="help-inline">{{ field.errors[0] }}</span>
    {% endif %}
  </div>
</div>
{% endmacro %}

{% macro render_draw(draw) %}
  <li class="span2">
    <div class="thumbnail">
      <h4><a href="{{url_for('table', drawid=draw.id)}}">{{draw.title}}</a></h4>

    </div>
  </li>
{% endmacro %}
