{% extends "layout.html" %}
{% block body %}

<h2>About</h2>
<p>Hello! My name is João Soares and I am the founder
of SecretGifter.</p>
<p>This web application started just before Easter 2013.
As of custom, my friends and I were planning a secret gift
exchange, or Secret Santa, to celebrate the festivities.</p>
<p>However, this year, we wouldn't be able to do the whole
"draw-name-from-paper" ritual that preceeds a typical Secret
Santa.</p>
<p>Because of our inability to gather beforehand, I offered
to write a small python script that would include everyone's
name, randomly pair them up, and send a secret SMS to each
participant.</p>
<p>Since then, I started developing this service as a way
to give that functionality to everyone else on the Internet.
This website uses the service from the awesome <a href="http://www.twilio.com/">Twilio</a>,
so I have to charge for text messages.</p>
<p>I hope you enjoy it!</p>

{% endblock %}
