{% extends "layout.html" %}
{% block body %}
  <img id="mainlogo" src="{{url_for('static',filename='img/logo.png')}}" alt="" />
  <h1>Organize your gift exchange.</h1>
  <p class="lead">SecretGifter is a small utility I have developed to make it easy to organize secret gift exchanges. It automatically makes a draw among participants and sends everyone an SMS with the person they've drawn.</p>
  <a href="{{ url_for('register') }}" class="btn btn-large btn-success">Sign up &amp; buy credits</a>
  <a href="{{ url_for('login') }}" class="btn">Login</a>
</div>
<div class="silo">
  <h2>How it works</h2>
  <div class="thumbnail well">
    <img src="{{url_for('static', filename='img/sg_draw.jpg')}}" alt="" />
    <p class="lead">1. Create a new draw and add participants</p>
  </div>
  <div class="thumbnail well">
  <img src="{{url_for('static', filename='img/sg_iphone.jpg')}}" alt="" />
  <p class="lead">2. Send a SMS to all participants</p>
  </div>
  <div class="thumbnail well">
    <img src="http://placehold.it/700x300" alt="" />
  <p class="lead">3. Enjoy your gathering!</p>
  </div>
  

{% endblock %}
