<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
  <title>SecretGifter - An easy way to organize your next gift-exchanging gathering</title>
  <!-- Bootstrap -->
  <link href="{{ url_for('static', filename='css/bootstrap.css')}}" rel="stylesheet" media="screen">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}" />
</head>
<body>
<div id="wrap">

  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container-narrow">
        <a href="{{url_for('mainpage')}}" class="brand"><img src="{{url_for('static', filename='img/logo_small.png')}}" alt="" /></a>
        <div class="nav-collapse collapse pull-right">
          <ul class="nav">
            {% if g.user.is_authenticated() %}
            <li><a class="btn btn-small" href="{{url_for('new_draw')}}">New Draw</a></li>
            <li><a href="{{url_for('draws')}}">Draws</a></li>
            <li><a href="{{url_for('add_credits')}}">Add credits</a></li>
            <li><a href="{{url_for('account')}}">Account</a></li>
            <li><a href="{{url_for('logout')}}">Logout</a></li>
            {% else %}
            <li><a href="{{url_for('about')}}">About</a></li>
            <li><a href="{{url_for('pricing')}}">Pricing</a></li>
            <li class="dropdown-toggle"><a href="{{url_for('login')}}">Login</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
  </div>
  


  <div class="container-narrow body-margin">

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <div class="alert">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}
    
    <div class="jumbotron">
      {% block body %}{% endblock %}
    </div>
  </div>
</div>
<div id="footer">
  <div class="container-narrow">
    <p class="muted credit">By Joao Soares, 2013</p>
  </div>
</div>

  <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
  <script type="text/javascript" src="{{url_for('static', filename='js/bootstrap.js')}}"></script>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-39701489-1', 'secretgifter.net');
  ga('send', 'pageview');
  </script>
  </body>
</html>
