{% extends "layout.html" %}
{% block body %}

  <legend>Register now</legend>
<form method="POST" id="register" class="form-horizontal form-fullpage well" name="register">
  {{form.hidden_tag()}}
  {% for field in form if field.widget.input_type != 'hidden' %}
  <div class="control-group">
    {{field.label(class_="control-label")}}
    <div class="controls">{{field(placeholder=field.label.text)}}</div>
  </div>
  {% endfor %}
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn">Login</button>
    </div>
  </div>
</form>

{% endblock %}
